<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <!--header image-->
    <div class="ui small images">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
        <img class="ui image"
             src="http://pre15.deviantart.net/45e2/th/pre/i/2016/174/a/8/d__va_ult_logo_by_theriverblues-da7dla1.png">
    </div>

</head>
<body>
<div class="ui fluid container" id="step2">
    <div class="step 1">
        <div class="ui fluid ordered steps">
            <div class="completed step">
                <div class="content">
                    <div class="title"><a href="step1.html">Step 1</a></div>
                    <div class="description">Download Template</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">Step 2</div>
                    <div class="description">Load Configuration</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title"><a href="step3.html">Step 3</a></div>
                    <div class="description">Run</div>
                </div>
            </div>
        </div>

        <div class="ui centered container" style="text-align: center; vertical-align: middle;
line-height: 90px; padding-top: 100px">

            <!-- Display error messages for what is wrong -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                <div class="ui warning message">
                    <div class="header"></div>
                    {% for message in messages %}
                    <center>{{message}}</center>
                    {% endfor %}
                </div>
            </ul>
            {% endif %}
            {% endwith %}


            <h2>
                Load configuration
            </h2>
            <h4> Choose an excel workbook to configure the switch </h4>

                <form action="http://localhost:5000/uploader" method="POST"
                      enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <button class="ui positive button">Upload</button>
                </form>


                <form action="http://localhost:5000/configure" method="POST">
                    <button class="ui positive right floated button">Run</button>
                </form>


                <button class="ui positive right floated button">
                    <div class="title"><a href="/validate/">Validate</a></div>
                </button>

            </h4>
        </div>

    </div>
</div>
</body>
</html>